{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container neumorphic">
    <div class="row">
        <div class="col-md-12 text-right">
            <div class="avatar-container">
                <img src="{% static 'images/avatar-placeholder.png' %}" alt="Avatar" class="avatar">
                <p>{{ user.username }}</p>
            </div>
        </div>
    </div>
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard!</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card clickable-card">
                <div class="card-body text-center">
                    <img src="{% static 'images/avatar-placeholder.png' %}" alt="Avatar" class="avatar">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card clickable-card">
                <div class="card-body text-center">
                    <img src="{% static 'images/avatar-placeholder.png' %}" alt="Avatar" class="avatar">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card clickable-card">
                <div class="card-body text-center">
                    <img src="{% static 'images/avatar-placeholder.png' %}" alt="Avatar" class="avatar">
                    <h5 class="card-title">Card Title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}