{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container neumorphic">
    <h2>Register</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.pin.label_tag }}
            {{ form.pin }}
        </div>
        <div class="form-group">
            {{ form.confirm_pin.label_tag }}
            {{ form.confirm_pin }}
        </div>
        <div class="form-group">
            {{ form.avatar.label_tag }}
            {{ form.avatar }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'stkpush:login' %}">Login here</a></p>
</div>
{% endblock %}